
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@media all and (max-width: 1600px) {
  .container {
    display: flex;
  }
  .toogle-button {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    border-radius: 8px;
  }

  .my-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 12px;
  }

  section {
    margin-left: 24px;
  }

  .hero-text h2 {
    width: 327px;
    margin-top: 114px;
    margin-bottom: 12px;
    margin-right: 24px;
    height: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: end;
    order: 0;
    position: relative;
    flex-grow: 0;
  }

  .primary-text2 {
    width: 327px;
    height: 146px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .container3 {
    width: 120px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  ul {
    width: 180.17px;
    height: 20px;
    display: flex;
    order: 1;
    flex-grow: 0;
    justify-content: space-between;
    list-style: none;
    margin-left: -50px;
  }

  .my-logo a {
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  body {
    background-image: url("/images/header-shapes-mobile.svg");
    background-position: absolute;
    background-repeat: no-repeat;
    min-width: 375px;
    height: 718px;
  }
}
